<!DOCTYPE html>
<html>
  <head>
    <title>TimeOut: My Dashboard</title>
    <link href="../stylesheets/general.css" rel="stylesheet">
    <link href="../stylesheets/dashboard.css" rel="stylesheet">
  </head>
  <body>

    <div class="header">
      <span class="title"><a href="/response">timeout</a>
        <img id="audio_button" style="width:15px;height:auto;" src="http://www.iconsplace.com/download/white-volume-up-256.png"/></span>
      <span class="info">{{username}}username   <a href="{{log_url}}">{{log_text}} login</a></span>
    </div>

  <table>
    <tr>
      <th>Content</th>
      <th>Views</th>
      <th>Points</th>
    </tr>
    {% for comp_obj in fetched_list %}
    <tr>
      <td>{{comp_obj.content}}</td>
      <td>{{comp_obj.views}}</td>
      <td>{{comp_obj.points}}</td>
    </tr>
    {% endfor %}
  </table>

  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="../scripts/audio.js"></script>
</html>
