<!DOCTYPE html>
<html>
  <head>
    <title>TimeOut: My Dashboard</title>
    <link href="../stylesheets/general.css" rel="stylesheet">
    <link href="../stylesheets/dashboard.css" rel="stylesheet">
  </head>
  <header>
    <div id="icon"></div> <span class="title"><a href="/">TimeOut</a></span>
    <span class="info">Log in</span>
  </header>
  <body>
<h1>My table</h1>
<table>
  <table>
    <tr>
      <th>Content</th>
      <th>Views</th>
      <th>Points</th>
    </tr>
    <tr>
      <td>Sample1</td>
      <td>Sample1</td>
      <td>Sample1</td>
    </tr>
    <tr>
      <td>Sample1</td>
      <td>Sample1</td>
      <td>Sample1</td>
    </tr>
    <tr>
      <td>Sample1</td>
      <td>Sample1</td>
      <td>Sample1</td>
    </tr>
    <tr>
      <td>Sample1</td>
      <td>Sample1</td>
      <td>Sample1</td>
  </tr>
  </table>

  </body>
  </html>

  </table>
  </body>
</html>
