<!DOCTYPE html>
<html>
  <head>
    <title>TimeOut: My Dashboard</title>
    <link href="../stylesheets/general.css" rel="stylesheet">
    <link href="../stylesheets/dashboard.css" rel="stylesheet">
  </head>
  <body>
<table>
  <table>
    <tr>
      <th>Content</th>
      <th>Views</th>
      <th>Points</th>
    </tr>
    {% for comp_obj in fetched_list %}
    <tr>
      <td>{{comp_obj.content}}</td>
      <td>{{comp_obj.views}}</td>
      <td>{{comp_obj.points}}</td>
    </tr>
    {% endfor %}
  </table>

  </body>
  </html>

  </table>
  </body>
</html>
