<!DOCTYPE html>
<html>
  <head>
    <title>TimeOut</title>
    <link href="../stylesheets/general.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/index.css">
  </head>
  <header>
    <div id="icon"></div> <span class="title"><a href="/">TimeOut</a></span>
    <span class="info">{{username}}    <a href="{{log_url}}">{{log_text}}</a></span>
  </header>
  <body>
    <div id="top">
      <p>I am feeling...</p>
    </div>

    <!-- SAD PORTION -->
    <div id="left">
      <div class="text">
        <form method=get action="/response">
          I am feeling...
          <select>
            <option value="tag1">very sad</option>
            <option value="tag2">sad</option>
            <option value="tag3">somewhat sad</option>
          </select>
          <input type="submit" value="submit">
        </form>
      </div>
    </div>

    <!-- HAPPY PORTION -->
    <div id="right">
      <div class="text">
        <form method=get action="/write">
          <input type="submit" value="Happy!">
        </form>
      </div>
    </div>

  </body>
</html>
