<!DOCTYPE html>
<html>
  <head>
    <title>TimeOut</title>
    <link href="../stylesheets/general.css" rel="stylesheet">
    <link href="../stylesheets/index_v2.css" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <span class="title"><a href="/response">timeout</a></span>
      <span class="info">Log in</span>
    </div>

    <div class="one">
      <a href="/response?feeling=sad"><div class="star"></div></a>
      <div class="tag">i'm sad</div>
    </div>

    <div class="two">
      <a href="/response?feeling=depressed"><div class="star"></div></a>
      <div class="tag">i'm depressed</div>
    </div>

    <div class="three">
      <a href="/response?feeling=happy"><div class="star"></div></a>
      <div class="tag">i'm happy</div>
    </div>

    <div class="four">
      <a href="/"><div class="star"></div></a>
      <div class="tag">i'm sad</div>
    </div>

    <div class="five">
      <a href="/"><div class="star"></div></a>
      <div class="tag">i'm sad</div>
    </div>

  </body>
  <script src="../scripts/index.js"></script>
</html>
