<!DOCTYPE html>
<html>
  <head>
    <title>TimeOut</title>
    <link href="../stylesheets/general.css" rel="stylesheet">
    <link href="../stylesheets/index_v2.css" rel="stylesheet">
    <div id="player"></div>
  </head>
  <body>
    <div class="header">
      <span class="title"><a href="/response">timeout</a>
        <img id="audio_button" style="width:15px;height:auto;" src="http://www.iconsplace.com/download/white-volume-up-256.png"></span>
      <span class="info">{{username}}    <a href="{{log_url}}">{{log_text}}</a>   <a href = "/dashboard">{{dash_text}}</span>
    </div>
    <div class="moon">
      <a href="/write">
      <img width="70px" height="auto" src="http://vignette2.wikia.nocookie.net/avatarrp/images/4/47/Moon.png/revision/latest?cb=20140826234501"/>
      </a>
      <div class="tag">make someone<br/>happy</div>
    </div>
    <div class="one">
      <a href="/response?feeling=sad"><div class="star"></div></a>
      <div class="tag">i'm sad</div>
    </div>

    <div class="two">
      <a href="/response?feeling=depressed"><div class="star"></div></a>
      <div class="tag">i'm depressed</div>
    </div>

    <div class="three">
      <a href="/response?feeling=happy"><div class="star"></div></a>
      <div class="tag">i'm anxious</div>
    </div>

    <div class="four">
      <a href="/response?feeling=sad"><div class="star"></div></a>
      <div class="tag">i'm sad</div>
    </div>

    <div class="five">
      <a href="/response?feeling=sad"><div class="star"></div></a>
      <div class="tag">i'm sad</div>
    </div>

  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="../scripts/audio.js"></script>
</html>
