<!DOCTYPE html>
<html>
  <head>
    <title>TimeOut</title>
    <link rel="stylesheet" href="../stylesheets/index.css">
  </head>
  <body>
    <div id="top">
      <p>I am feeling...</p>
    </div>
    <div id="left">
      <div class="text">
        <form method=post>
          <select>
            <option>very sad</option>
            <option>sad</option>
            <option>somewhat sad</option>
          </select>
        </form>
      </div>
    </div>
    <div id="right">
      <div class="text">hi</div>
    </div>
  </body>
</html>
