<!DOCTYPE html>
<html>
  <head>
    <title>TimeOut</title>
    <link href="../stylesheets/general.css" rel="stylesheet">
    <link href="../stylesheets/index_v2.css" rel="stylesheet">
    <div id="player"></div>
  </head>
  <body>
    <!-- header -->
    <div class="header">
      <span class="title"><a href="/">timeout</a>
      </span>

      <span class="info">
        <img id="audio_button" style="width:15px;height:auto;" src="http://www.iconsplace.com/download/white-volume-up-256.png">
        <span id="quest">?</span>
        <div class="popup"><div class="box">
          <b>ABOUT TIMEOUT</b>
          <p>TimeOut is an anonymous safe space for people who are searching for a helping hand. If you are in need of some kind words (as all of us do at certain times in our lives),
          you can come here and click on a star that matches your emotion to receive kind words that real people have written for you!</p>
          <p>You also have the ability to pay it forward! If you click on the moon, you can write a kind message for someone in need. Every word counts, and you never know if you might
          change someone's life.</p>
          <p>TimeOut is a completely anonymous site. If you log in with your Google account, you can keep track of the kind messages you have written for others and see how many
          anonymous users have seen and appreciated your message. Collect points and see how much change you have made in people's lives. No records are kept of who reads what messages,
          even if you are logged in. The only thing that is recorded is your own compliments that only you can see.</p>
        </div></div>
        {{username}}
        <a href="{{log_url}}">{{log_text}}</a>
        <a href="/dashboard">{{dash_text}}</a>
      </span>
    </div>

    <!-- click options -->
    <div class="moon">
      <a href="/write">
      <img width="70px" height="auto" src="http://vignette2.wikia.nocookie.net/avatarrp/images/4/47/Moon.png/revision/latest?cb=20140826234501"/>
      </a>
      <div class="tag">make someone<br/>happy</div>
    </div>
    <div class="one">
      <a href="/response?feeling=sad"><div class="star"></div></a>
      <div class="tag">i'm sad</div>
    </div>

    <div class="two">
      <a href="/response?feeling=depressed"><div class="star"></div></a>
      <div class="tag">i'm depressed</div>
    </div>

    <div class="three">
      <a href="/response?feeling=anxious"><div class="star"></div></a>
      <div class="tag">i'm anxious</div>
    </div>

    <div class="four">
      <a href="/response?feeling=embarrassed"><div class="star"></div></a>
      <div class="tag">i'm embarrassed</div>
    </div>

    <div class="five">
      <a href="/response?feeling=unconfident"><div class="star"></div></a>
      <div class="tag">i'm unconfident</div>
    </div>

  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="../scripts/index.js"></script>
  <script src="../scripts/audio.js"></script>
</html>
