<!DOCTYPE html>
<html>
  <head>
    <link href = "../stylesheets/response.css" type="text/css" rel="stylesheet">
    <title>TimeOut</title>
  </head>
  <body>

    <div id="container">
      <span id="title">Hey, we found a message for you...</span>
      <div id="Message">
        Happy Things! Eventually a comment!
      </div>
      <form method=post>
        <input type="radio" name="points" value="10">10 points </input>
        <input type="radio" name="points" value="20">20 points </input>
        <input type="radio" name="points" value="30">30 points </input>
        <br/><br/>
        <input type="submit" name="send!">
      </form>
    </div>

  </body>
</html>
