<!DOCTYPE html>
<html>
  <head>
    <link href="../stylesheets/general.css" type="text/css" rel="stylesheet">
    <link href="../stylesheets/response.css" type="text/css" rel="stylesheet">
    <title>TimeOut</title>
  </head>
  <body>

    <div id="container">
      <span id="title">Hey, we found a message for you...</span>
      <div id="Message">
        {{compliment}}
      </div>
      <form method=post>
        <input type="radio" name="points" value="10">10 points </input>
        <input type="radio" name="points" value="20">20 points </input>
        <input type="radio" name="points" value="30">30 points </input>
        <input style="display:none;" type="text" name="id" value="{{ comp_id }}"></input>
        <br/><br/>
        <input type="submit" name="send!">
      </form>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="../scripts/index.js"></script>
  <script src="../scripts/audio.js"></script>
</html>
