<!DOCTYPE html>
<html>
  <head>
    <link href = "../stylesheets/general.css" type = "text/css" rel = "stylesheet">
    <link href = "../stylesheets/write.css" type = "text/css" rel = "stylesheet">
    <title></title>
  </head>
  <body>
    <div class="header">
      <span class="title"><a href="/">timeout</a>
      </span>

      <span class="info">
        <img id="audio_button" style="width:15px;height:auto;" src="http://www.iconsplace.com/download/white-volume-up-256.png">
        <span id="quest">?</span>
        {{username}}
        <a href="{{log_url}}">{{log_text}}</a>
        <a href="/dashboard">{{dash_text}}</a>
      </span>
    </div>

    <div id="container">
      Your message has been sent!
      <Br/><br/>
      <a href="/">return home</a>
    </div>
  </body>
</html>
