<!DOCTYPE html>
<html>
  <head>
    <link href="../stylesheets/general.css" type="text/css" rel="stylesheet">
    <link href = "../stylesheets/write.css" type = "text/css" rel = "stylesheet">
    <title>TimeOut</title>
  </head>
  <body>
    <div class="header">
      <span class="title"><a href="/">timeout</a>
        <img id="audio_button" style="width:15px;height:auto;" src="http://www.iconsplace.com/download/white-volume-up-256.png"/></span>
      <span class="info">{{username}} <a href="{{log_url}}">{{log_text}}</a></span>
    </div>



    <div id="container">
    <p id="title">Your words:</p>
    <form method=post>
      <textarea name="words" rows="24" cols="80"></textarea><br/>
      <select>
        <option></option>
      </select>
      <input id="sbm" type="submit" name="send!">
      <input type="radio" name="emotion" value= "sad" >Sad<br>
      <input type="radio" name="emotion" value= "anxious">Anxious<br>
      <input type="radio" name="emotion" value="depressed"> Depressed<br>
      <input type="radio" name="emotion" value= "embarrassed"> Embarassed<br>
      <input type="radio" name="emotion" value= "unconfident"> Unconfident<br>
    </form>
    </div>

  </body>
</html>
