<!DOCTYPE html>
<html>
  <head>
    <link href="../stylesheets/general.css" type="text/css" rel="stylesheet">
    <link href = "../stylesheets/write.css" type = "text/css" rel = "stylesheet">
    <title>TimeOut</title>
  </head>
  <header>
    <div id="icon"></div> <span class="title"><a href="/">TimeOut</a></span>
    <span class="info">Log in</span>
  </header>
  <body>

    <div id="container">
    <p id="title">Your words:</p>
    <form method=post>
      <textarea name="words" rows="24" cols="80"></textarea><br/>
      <input id="sbm" type="submit" name="send!">
    </form>
    </div>

  </body>
</html>
