<!DOCTYPE html>
<html>
  <head>
    <link href = "../stylesheets/general.css" type = "text/css" rel = "stylesheet">
    <link href = "../stylesheets/write.css" type = "text/css" rel = "stylesheet">
    <title></title>
  </head>
  <body>
    <div class="header">
      <span class="title"><a href="/">timeout</a>
      </span>

      <span class="info">
        <img id="audio_button" style="width:15px;height:auto;" src="http://www.iconsplace.com/download/white-volume-up-256.png">
        {{username}}
        <a href="{{log_url}}">{{log_text}}</a>
        <a href="/dashboard">{{dash_text}}</a>
      </span>
    </div>

    <div id="container" style="text-align:center;">
      Your message has been sent!<br/><br/>
      Thanks for making someone's day better. Though you may not know it, even the smallest phrases of encouragement can
      change a person's life for the better. Keep spreading the love. :)
      <Br/><br/>
      <a href="/">return home</a>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="../scripts/index.js"></script>
  <script src="../scripts/audio.js"></script>
</html>
