.info {
  float:right;
  text-align:right;
  margin-right:40px;
}
table, td, th {
    border: 0px solid black;
    color:white;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin:80px 10px 100px 10px;
    transform:translateX(10%);
}
th,td {
    height: auto;
    padding: 10px;
}
tr td {
  padding:10px;
  border:1px solid gray;
}
tr {
  border-radius:8px;
}
