@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';

#left {
  background:#FFFFFF;
  left:0;
  color:black;
}
#right {
  color:black;
  background:#FFFFFF;
  right:0;
}
#left:hover,#right:hover{
  background:gray;
}
#left,#right {
  margin-top:70px;
  position:fixed;
  top:0;
  width:50%;
  height:100%;
  text-align:center;
}
.text {
  position:relative;
  top:50%;
  transform:translateY(-50%);
}
#question {
  text-align:center;
  top:50%;
  width:100px;
  height:100px;
  left:50%;
  margin-top:-50px;
  margin-left:-50px;
  position:absolute;
}
