/* hey */
@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';
#title {
  font-size:25px;
}
#container {
  /* positioning */
  position:absolute;
  width: 400px;
  height: 200px;
  left: 50%;
  margin-left: -200px;
  top:50%;
  transform:translateY(-50%);

  /* text */
  text-align:center;
}
#Message {
  width:auto;
  height:auto;
  margin:10px;
  background:#000000;
  padding:10px;
  border-radius:10px;
  font-size:14px;
}

input {
  margin-right:10px;
}
a {
  color:white;
}
#sbm {
  position:relative;
  left: 50%;
  transform:translateX(-50%);
  background: black;
  border-radius: 5px;
  color: #fff;
  display: none;
  padding: 8px;
  text-align: center;
  font-family:'Inconsolata',monospace;
  font-size:15px;
}
form {
  text-align:center;
}
