@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';

p#title{
  text-align:center;
  font-size:25px;
}
#container {
  position:absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
}
#sbm {
  position:relative;
  left: 50%;
  transform:translateX(-50%);
  background: black;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  padding: 8px;
  text-align: center;
  font-family:'Inconsolata',monospace;
  font-size:15px;
}

textarea {
  background:transparent;
  color:white;
  font-size:17px;
  font-family:'Inconsolata',sans-serif;
  border:none;
  border-color:transparent;
  text-align:justify;
}
textarea:focus {
  outline:none !important;
}
form { display:inline-block;}
select {
    float:right;
    margin-top:-38px;
    margin-right:155px;
}
